{% extends 'base.twig' %}
{% block content %}
    <section class="blog_details_section">
        <div class="w_610 blog_details_top">
            <div class="item">
               <a class="item_name">{{ function('get_bloginfo') }} </a>
               <a class="item_desc">{{ post.title }}</a>
            </div>
            <div class="blog_profile_main">
               <div class="profile" >
                  <span>{{ post.author.name }}</span>
               </div>
               <div class="blog_time_date_main">
                  <span class="blog_time">9 min read</span>
                  <span class="blog_date">{{ post.date }}</span>
               </div>
               <div class="blog_e-commerce">
                  <span class="icon">#</span>
                  <span class="text-e-commerce">E-commerce</span>
               </div>
            </div>
            <h1{{ post.title }}</h1>
         </div>
         <div class="blog_deails_img_container">
            <img src="{{ post.thumbnail }}" alt="">
         </div>
         <div class="blog_details_para_main w_610">
            <div class="paragraph_container">
               {{ post.content }}
            </div>
            <div class="Share_post_icons">
               <b>Share this post :</b>
               <i class="fa-brands fa-facebook-f"></i>
               <i class="fa-brands fa-twitter"></i>
               <i class="fa-brands fa-linkedin-in"></i>
               <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div class="Tags_main">
               <b class="tags">Tags:</b>
               <div class="blog_e-commerce">
                  <span class="icon">#</span>
                  <span class="text-e-commerce">E-commerce</span>
               </div>
            </div>
        </div>
    </section>
{% endblock %}

